<app-navigation></app-navigation>
<div class="d-flex p-5">
    <div id="btnvolver">
      <button class="btn btn-primary" [routerLink]="['/candidatos']" type="button">candidatos</button>
    </div>
    <div id="btnvolver">
      <button class="btn btn-primary" [routerLink]="['/partidos']" type="button">Partidos</button>
    </div>
    <div>
      <button  class="btn btn-primary " [routerLink]="['/']" type="button">Salir</button>
    </div>
    <div>
      <button  class="btn btn-primary " [routerLink]="['/mesas']" type="button">Mesas</button>
    </div>
  </div>
 