
<nav class="navbar navbar-expand-lg bg-light">
   <!-- <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand " >{{respuesta}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h1>holaaa</h1>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
                <li class="nav-item">
                  <a class="nav-link active bg-dark" style="color: white" aria-current="page"  routerLink="/"(click)="logout()" >cerrar cesion</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active bg-dark" style="color: white" aria-current="page" routerLink="/add">agregar</a>
                </li>
              </ul>
            </div>
        </div>
    </div>-->
    <div id="header" class="d-flex mt-4 d-flex flex-st me-5">
      <div class="" id="imgHeader " >
          <img width="30%" class="ms-3" src="https://upload.wikimedia.org/wikipedia/commons/3/32/Logo_de_la_Registradur%C3%ADa_Nacional_del_Estado_Civil_Colombiana_%28versi%C3%B3n_negro%29.png">
      </div>
      <div id="txtHeader" class="d-flex m3-5">
          <p class="fs-1 me-5">Votaciones para el Senado</p>
      </div>
    </div>
</nav>
